.fx-between {
  display: flex;
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.flex {
  display: flex;
}

.text-center {
  text-align: center;
}
.absolute {
  position: absolute;
}
.w-full {
  width: 100%;
}
.pointer {
  cursor: pointer;
}
.transform-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$pd: 8,16,24;
@each $i in $pd{
  .pl-#{$i} {
    padding-left: $i+px;
  }
  .pt-#{$i} {
    padding-top: $i+px;
  }
  .pb-#{$i} {
    padding-bottom: $i+px;
  }
}

$mg: 8,16,24;
@each $i in $mg{
  .ml-#{$i} {
    margin-left: $i+px;
  }
}
